# SHT temperature/humidity sensor usermod build environments
# Copy to platformio_override.ini in the WLED root to use.

[platformio]
default_envs = custom_esp32dev_usermod_sht

[env:custom_esp32dev_usermod_sht]
extends = env:esp32dev
custom_usermods = ${env:esp32dev.custom_usermods} sht

[env:custom_esp8266_2m_usermod_sht]
extends = env:esp8266_2m
custom_usermods = ${env:esp8266_2m.custom_usermods} sht
