# Klipper percentage usermod build environment
# Copy to platformio_override.ini in the WLED root to use.

[platformio]
default_envs = esp32klipper

[env:esp32klipper]
extends = env:esp32dev
custom_usermods = ${env:esp32dev.custom_usermods}
  usermod_v2_klipper_percentage
