; TTGO-T-Display usermod build example.
; Note: this usermod has no library.json so custom_usermods is not available.
; The usermod.cpp must be included manually in your build.

[platformio]
default_envs = ttgo_t_display_example

[env:ttgo_t_display_example]
extends = env:esp32dev
build_flags = ${env:esp32dev.build_flags}
; PIN defines - uncomment and change, if needed:
;  -D LEDPIN=2
   -D BTNPIN=35
;  -D IRPIN=4
;  -D RLYPIN=12
;  -D RLYMDE=1
